body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to left, violet,  #c4a3ff);
  }

h1 {
  font-size: 50px ;
  color: #9c289c;
  font-weight: 400;
}

.scoreboard {
justify-content: space-between;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
height: 10vh;  
width: auto; 
}

.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 100px;
  text-align: center;
  margin: 150;
  color: rgb(156, 40, 156);
  font-size: 22px;
  font-weight: 10px;
}

.scoreboard_name{
  font-weight: 400;
  white-space: nowrap;
}

.rainbow_score{
  justify-content: center;
}

button{
  background-color: rgb(156, 40, 156);
  color: #fff;
  border-color:  #561c81;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
}

.arrows{
  flex-direction: right;
  margin-left: auto;
  width: 400px;
  height: 0px;
}

.resize{
  width: 200px;
  height: 200px;
}
